{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
<!--   去掉注释   -->
<!-- <li><a href="/polls/{{ question.id }}/">{{question.question_text}}</a></li>  硬编码 -->
<!--            通过使用{% url %}模板标签来移除对你的URL配置中定义的特定的URL的依赖                 -->
<!-- <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>   -->
<!--                             指向具有命名空间的详细视图                                               -->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
